<div class="container-fluid">
  <div class="row bg-secondary d-flex align-items-center">
    <div class="col-md-6">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6 text-white">
          <h1 class="fs-54">Delete seu Tema?</h1>
          <h5 class="fs-18">Delete o tema clicando no botão abaixo!</h5>
        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <img
        src="../../assets/imgs/themes/theme02.gif"
        alt="Theme edit img"
        width="500"
        height="500"
      />
    </div>
  </div>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-12">
      <h4 class="text-center text-secondary">
        Você tem certeza que deseja apagar esse tema? Todas as postagens
        relacionadas a ele serão igualmente apagadas.
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h5 class="text-center text-info">{{ theme.descricao }}</h5>
      >
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <button class="btn btn-outline-danger mr-2" routerLink="/theme">
        Não
      </button>
      <button class="btn btn-outline-success" (click)="apagar()">Sim</button>
    </div>
  </div>
</div>
