<div class="container-fluid">
  <div class="row bg-secondary d-flex align-items-center">
    <div class="col-md-6">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6 text-white">
          <h1 class="fs-54">Seja Bem vindo(a)!</h1>
          <h5 class="fs-18">expresse aqui suas opniões e seus pensamentos</h5>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-md-6 mt-3 mb-5">
          <button
            class="btn btn-light"
            data-toggle="modal"
            data-target="#novaPostagem"
          >
            Nova Postagem
          </button>
          <a class="btn btn-outline-light ml-2" href="#postagens"
            >Ver Postagem</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <img
        src="../../assets/imgs/home/home01.png"
        alt="Home logo"
        width="500"
        height="500"
      />
    </div>
  </div>
</div>
<div class="container mt-5 mb-5" id="postagens">
  <ul
    class="nav nav-tabs d-flex justify-content-center"
    id="myTab"
    role="tablist"
  >
    <li class="nav-item" role="presentation">
      <a
        class="nav-link active text-secondary font-weight-bold"
        id="todasPostagens-tab"
        data-toggle="tab"
        href="#todasPostagens"
        role="tab"
        aria-controls="todasPostagens"
        aria-selected="true"
        >Todas Postagens</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link text-secondary font-weight-bold"
        id="minhasPostagens-tab"
        data-toggle="tab"
        href="#minhasPostagens"
        role="tab"
        aria-controls="minhasPostagens"
        aria-selected="false"
        (click)="findByIdUser()"
        >Minhas Postagens</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link text-secondary font-weight-bold"
        id="postagemTema-tab"
        data-toggle="tab"
        href="#postagemTema"
        role="tab"
        aria-controls="postagemTema"
        aria-selected="false"
        >Postagem Tema</a
      >
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div
      class="tab-pane fade show active"
      id="todasPostagens"
      role="tabpanel"
      aria-labelledby="todasPostagens-tab"
    >
      <div class="container">
        <div class="row">
          <div class="col md 12">
            <div class="row d-flex justify-content-center align-items-center">
              <div
                class="card ml-2 efeito-hover"
                style="width: 18rem"
                *ngFor="let post of listaPosts"
              >
                <div class="card-body">
                  <h5 class="card-title text-center">{{ post.titulo }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted text-center">
                    {{ post.tema.descricao }}
                  </h6>

                  <p class="card-text break-words text-center">
                    {{ post.texto }}
                  </p>
                  <p class="text-center">
                    Postado em: {{ post.data | date: "dd/MM/yyyy" }}
                  </p>
                  <div class="card-footer">
                    <p class="text-center">By: {{ post.usuario.nome }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="minhasPostagens"
      role="tabpanel"
      aria-labelledby="minhasPostagens-tab"
      (click)="findByIdUser()"
    >
      <div class="container">
        <div class="row">
          <div class="col md 12">
            <div class="row d-flex justify-content-center align-items-center">
              <div
                class="card ml-2 efeito-hover"
                style="width: 18rem"
                *ngFor="let post of usuario.postagem"
              >
                <div class="card-body">
                  <h5 class="card-title text-center">{{ post.titulo }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted text-center">
                    {{ post.tema.descricao }}
                  </h6>

                  <p class="card-text break-words text-center">
                    {{ post.texto }}
                  </p>
                  <p class="text-center">
                    Postado em: {{ post.data | date: "dd/MM/yyyy" }}
                  </p>
                  <div class="card-footer">
                    <a
                      class="text-info mr-3"
                      [routerLink]="['/post-edit', post.id]"
                      >Editar</a
                    >
                    <a
                      class="text-danger"
                      [routerLink]="['/post-delete', post.id]"
                      >Apagar</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="postagemTema"
      role="tabpanel"
      aria-labelledby="postagemTema-tab"
    >
      <div class="container">
        <div class="row">
          <div class="col md 12">
            <div
              class="row d-flex justify-content-center align-items-center"
              *ngFor="let tema of listaThemes"
            >
              <div
                class="card ml-2 efeito-hover"
                style="width: 18rem"
                *ngFor="let post of tema.postagem"
              >
                <div class="card-body">
                  <h5 class="card-title text-center">{{ post.titulo }}</h5>
                  <p class="card-text break-words text-center">
                    {{ post.texto }}
                  </p>
                  <p class="text-center">
                    Postado em: {{ post.data | date: "dd/MM/yyyy" }}
                  </p>
                  <div class="card-footer">
                    <p class="text-center">By {{ post.usuario.nome }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="novaPostagem"
  tabindex="-1"
  aria-labelledby="novaPostagemLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="novaPostagemLabel">Nova Postagem</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="titulo">Titulo</label>
          <input
            type="text"
            name="titulo"
            id="titulo"
            class="form-control"
            placeholder="Digite o titulo"
            [(ngModel)]="post.titulo"
          />
        </div>
        <div class="form-group">
          <label for="texto">Texto</label>
          <textarea
            name="texto"
            id="texto"
            rows="3"
            class="form-control"
            [(ngModel)]="post.texto"
          ></textarea>
        </div>
        <div class="form-group">
          <label for="tipo"
            >Escolha um tema ou
            <a data-dismiss="modal" routerLink="/theme"
              >Cadastre um novo</a
            ></label
          >
          <select
            name="tema"
            id="tema"
            class="form-control"
            (change)="findThemeById()"
            aria-placeholder="Temas"
            [(ngModel)]="idTheme"
          >
            <option *ngFor="let theme of listaThemes" value="{{ theme.id }}">
              {{ theme.descricao }}
            </option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-danger"
          data-dismiss="modal"
        >
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-outline-success"
          (click)="publicar()"
          data-dismiss="modal"
        >
          Publicar
        </button>
      </div>
    </div>
  </div>
</div>
